/* 引入定义的所有变量 */
@import './common/var.scss';
/* 引入所有的函数 */
@import './common/minxin.scss';

@include b(button) {
  cursor: pointer; // 鼠标变小手
  align-items: center; // 轴对齐
  display: inline-flex; // 开启flex模式, 由于还要保持行的特性, 所以是inline-flex
  vertical-align: middle; // 中对齐, 为了以后的icon准备的
  justify-content: center; // 居中
  background-color: white; // 白色
  outline: 0; // 去掉聚焦时的轮廓
  border-radius: 6px; // 感觉圆角6还是挺友好的, 没有做成可配置
  transition: all 0.1s; // 动画当然要有, 交互体验很重要
  // height: 32px;
  &:active {
    // 点击的时候
    box-shadow: none; // 嘿嘿这个是我的ui组件独有的风格
    opacity: 0.7; // 微微一暗, 以示点击到了
    // transform: translateX(2px) translateY(2px) scale(0.9); // 会有个小小的位移
  }
  &:hover {
    // 悬停变色
    background-color: rgba(0, 0, 0, 0.06);
  }

  &.size-large {
    font-size: $--size-large;
    padding: 6px 12px;
  }
  &.size-default {
    font-size: $--size-default;
    padding: 4px 8px;
  }
  &.size-small {
    font-size: $--size-small;
    padding: 2px 6px;
  }

  &:not(.is-disabled) {
    &:active {
      box-shadow: none;
      opacity: 0.7;
      transform: translateX(2px) translateY(2px) scale(0.9);
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.01);
    }
  }

  @include commonShadow($--color-black);

  @include when(left) {
    border-radius: 16px 0 0 16px;
  }
  @include when(right) {
    border-radius: 0 16px 16px 0;
  }
  @include when(centre) {
    border-radius: 0;
  }

  @include when(disabled) {
    @include commonShadow(disabled);
  }

  @at-root {
    @include commonType(xq-button--);
  }
}
