/* XQ-UI 基本色 */

/* 基本色 */
$--color-black: #000000 !default;
$--color-white: #ffffff !default;

/* 基本色鲜艳 */
$--color-primary: #1e90ff !default;
$--color-success: #67c23a !default;
$--color-warning: #e6a23c !default;
$--color-danger: #f56c6c !default;
$--color-disabled: #bbbbbb !default;
$--color-difference: #f5f7fa !default;

/* 字体 */
$--size-large: 16px;
$--size-default: 15px;
$--size-small: 14px;

/* 输入框 */
$--color-input-placeholder: #aaa;
